* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all .2s;
	-webkit-tap-highlight-color: transparent;
	-ms-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-o-tap-highlight-color: transparent;
}

body {
	overflow: hidden;
	margin: auto;
	padding: 50px;
	width: 90vmin;
	height: 100vh;
}

.head {
	display: flex;
	height: 40px;
	line-height: 40px;
}

.head div {
	width: 20%;
	text-align: center;
	font-weight: 600;
}

.head div:nth-child(2), .main input:nth-child(2) {
	width: 50%;
}

.head div:nth-child(4), .main input:nth-child(4) {
	width: 10%;
}

.main {
	overflow-y: overlay;
	margin: auto;
	width: 100%;
	height: calc(100% - 80px);
}

.main::-webkit-scrollbar {
	width: 5px;
}

.main::-webkit-scrollbar-track-piece {
	width: 5px;
	background: #f2f2f2;
}

.main::-webkit-scrollbar-thumb {
	width: 5px;
	border-radius: 10px;
	background: #41cf7d;
}

.main::-webkit-scrollbar-thumb:hover {
	background: #fb8b05;
}

.main .item {
	display: flex;
	height: 40px;
	border-radius: 5px;
	line-height: 40px;
}

.item input:nth-of-type(3) {
	color: var(--color);
	font-family: Icon;
}

.item div, .item input {
	width: 20%;
	text-align: center;
}

input {
	margin-top: 5px;
	padding: 0 1vmin;
	height: 30px;
	outline: 0;
	border: 0;
	background: 0 0;
	vertical-align: top;
	font-size: 16px;
	line-height: 30px;
}

input[type=button] {
	cursor: pointer;
}

.foot {
	display: flex;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #e0e0e0;
}

.foot, .foot div {
	text-align: center;
}

.foot div {
	border-radius: 5px;
	font-weight: 600;
	cursor: pointer;
}

.dialog {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	background: hsla(0, 0%, 49%, .67);
}

.dialog, .font {
	position: absolute;
}

.font {
	top: 30vh;
	left: 50vw;
	padding: 10px 20px;
	width: 90vmin;
	max-width: 500px;
	border-radius: 15px;
	background: #fff;
	box-shadow: 5px 5px 15px rgb(0 0 0/10%);
	font-family: Icon;
	transform: translateX(-50%) translateY(-50%);
}

.font .title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.title .close {
	cursor: pointer;
}

.icon {
	display: flex;
	font-family: Icon;
	flex-wrap: wrap;
	justify-content: space-around;
}

.icon span {
	padding: 5px;
	font-size: 30px;
	cursor: pointer;
	user-select: none;
}

.icon:after {
	content: "";
	flex: auto;
}

.save {
	border-radius: 5px;
	color: #41cf7d;
}

.del, .save {
	font-weight: 600;
	cursor: pointer;
	user-select: none;
}

.del {
	position: relative;
	border-left: 2px solid #fff;
	border-radius: 0 5px 5px 0;
	color: #ee3f4d;
	font-size: 14px;
}

.add {
	width: 80%;
	color: #41cf7d;
}

.add, .back {
	user-select: none;
}

.back {
	width: 20%;
	color: #ee3f4d;
}

.add:hover, .back:hover, .item:hover, .save:hover {
	background: rgba(0, 0, 0, .05);
}

@font-face {
	font-family: Icon;
	src: url(../font/nav.woff2);
}

@media screen and (max-width:600px) {
	body {
		padding: 50px 10px;
		width: 98vmin;
	}

	.head div:nth-child(2), .main input:nth-child(2) {
		width: 45%;
	}


	.head div:nth-child(3), .main input:nth-of-type(3) {
		color: var(--color);
		font-family: Icon;
		width: 10%;
	}

	.head div:nth-child(5), .item div:nth-child(5) {
		width: 15%;
	}

}