* {
	margin: 0;
	padding: 0;
	transition: all .2s;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-ms-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-o-tap-highlight-color: transparent;
	/* outline: 1px solid #00000020; */
}

body {
	padding: 50px;
	height: 100vh;
	width: 90vmin;
	margin: auto;
	overflow: hidden;
}

.head {
	display: flex;
	height: 40px;
	line-height: 40px;
}

.head div {
	text-align: center;
	font-weight: 600;
	width: 20%;
}

.head div:nth-child(2), .main input:nth-child(2) {
	width: 30%;
}

.head div:nth-child(4), .main input:nth-child(4) {
	width: 10%;
}

.main {
	overflow-y: auto;
	margin: auto;
	width: 100%;
	height: calc(100% - 80px);

}

.main::-webkit-scrollbar {
	width: 5px;
}

.main::-webkit-scrollbar-track-piece {
	width: 5px;
	background: #f2f2f2;
}

.main::-webkit-scrollbar-thumb {
	width: 5px;
	border-radius: 10px;
	background: #41cf7d;
}

.main::-webkit-scrollbar-thumb:hover {
	background: #fb8b05;
}

.main .item {
	height: 40px;
	line-height: 40px;
	display: flex;
	border-radius: 5px;
}

.item input:nth-of-type(3) {
	font-family: Icon;
	color: var(--color);
}

.item input, .item div {
	width: 20%;
	text-align: center;
}

input {
	margin-top: 5px;
	padding: 0 1vmin;
	height: 30px;
	outline: 0;
	border: 0;
	background: 0 0;
	vertical-align: top;
	font-size: 16px;
	line-height: 30px;
}

input[type=button] {
	cursor: pointer;
}

.foot {
	height: 40px;
	display: flex;
	line-height: 40px;
	text-align: center;
}

.foot div {
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 600;
}

.font {
	padding: 10px 5px;
	font-family: Icon;
	position: absolute;
	width: 200px;
	top: 50vh;
	left: 50vw;
	transform: translateX(-50%) translateY(-50%);
	background: white;
	box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
	border-radius: 15px;
	display: none;
	flex-wrap: wrap;
	justify-content: space-around
}

.font span {
	padding: 5px;
	font-size: 30px;
	cursor: pointer;
	user-select: none;
}

.font span:last-child {
	margin-right: auto;
}


.save {
	color: #41cf7d;
	font-weight: 600;
	cursor: pointer;
	border-radius: 5px;
	user-select: none;
}

.del {
	position: relative;
	color: #ee3f4d;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	border-left: 2px solid #ffffff;
	user-select: none;
}

.add {
	width: 80%;
	color: #41cf7d;
	user-select: none;
}

.back {
	color: #ee3f4d;
	user-select: none;
	width: 20%;
}

.add:hover, .back:hover, .save:hover {
	background: rgba(0, 0, 0, .05);
}

.item:hover {
	background: rgba(0, 0, 0, .05);
}


@font-face {
	font-family: Icon;
	src: url(../font/nav.woff2);
}

@media screen and (max-width:600px) {
	body {
		width: 98vmin;
		padding: 50px 10px;
	}

}