* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    user-select: none
}

:root {
    --color1: #eee;
    --color2: #f49494;
    --color3: #f4ea2a;
    --coloe4: #222;
    --color5: #555;
    --color6: #fff;
    --color7: #e5e5e5
}

body {
    display: flex;
    margin: auto;
    width: 1140px;
    min-width: 330px;
    background: var(--color1);
    flex-direction: column;
    justify-content: center;
    align-items: center
}

footer, header, main {
    width: 100%
}

header {
    margin: 10px auto;
    padding: 0 10px;
    height: 80px;
    line-height: 80px
}

h1, header {
    background: var(--color1)
}

h1 {
    position: relative;
    z-index: 10;
    float: left;
    overflow: hidden;
    padding: 0 5px;
    height: 70px;
    text-align: left;
    cursor: pointer;
    animation: ColorChange .5s
}

h1:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400%;
    height: 1px;
    background: linear-gradient(90deg, red, #ff7f00, #ff0, #0f0, #0ff, #00f, #8b00ff, red, #ff7f00, #ff0, #0f0, #0ff, #00f, #8b00ff);
    content: "";
    animation: ran 1s linear infinite
}

@keyframes ColorChange {
    0% {
        color: var(--color2)
    }
    to {
        color: var(--coloe4)
    }
}

h1:hover {
    animation: BackColorChange .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
}

@keyframes BackColorChange {
    0% {
        color: var(--coloe4)
    }
    to {
        color: var(--color2)
    }
}

@keyframes ran {
    0% {
        left: 0
    }
    to {
        left: -200%
    }
}

nav {
    position: relative;
    margin-top: 40px;
    padding: 20px 20px 30px;
    width: 100%;
    border-radius: 20px;
    background: var(--color1)
}

nav .control, nav input {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all .5s;
    transform: rotate(180deg)
}

nav input {
    z-index: 1;
    opacity: 0
}

nav input:checked~.control {
    transform: rotate(0)
}

nav input:checked~section {
    overflow: scroll;
    height: 300px;
    animation: show 1s
}

@keyframes show {
    0% {
        height: 0
    }
    to {
        height: 300px
    }
}

nav h2, nav section {
    text-align: left
}

main {
    font-size: 0;
    animation: showChang 1s
}

@keyframes showChang {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.main-item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-top: 60px;
    padding: 30px 30px 50px;
    width: 50%;
    height: 109px;
    vertical-align: middle;
    transition: all .5s
}

.main-item a {
    display: block;
    overflow: hidden;
    margin-right: 30px;
    color: var(--coloe4);
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 22px;
    animation: ColorChange .5s
}

.main-item a:hover {
    animation: BackColorChange .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
}

.main-item i, .main-item input {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 29px;
    height: 29px;
    cursor: pointer
}

.main-item input {
    z-index: 1;
    opacity: 0
}

.main-item i {
    background: url(../image/unfold.svg);
    background-size: 100% 100%;
    transform: rotate(180deg);
    transition: all .5s
}

.main-item section {
    font-size: 16px;
    opacity: 0;
    transition: all .5s
}

.main-item input:checked~i {
    transform: rotate(0deg)
}

.main-item input:checked~section {
    opacity: 1
}

.main-item p, .main-item section {
    text-align: left;
    text-overflow: ellipsis
}

.main-item p {
    position: absolute;
    bottom: 10px;
    width: 90%;
    white-space: nowrap;
    font-size: 12px
}

.main-item .css, .main-item .html, .main-item .js, .main-item .time {
    margin-right: 5px;
    padding: 2px 5px;
    border-radius: 15px;
    font-weight: 600
}

.main-item .html {
    border: 1px solid #ffa;
    background: rgba(255, 255, 168, .56);
    box-shadow: 1px 1px 1px #cc8, -1px -1px 2px #ffc
}

.main-item .css {
    border: 1px solid #aff;
    background: rgba(170, 255, 255, .56);
    box-shadow: 1px 1px 1px #8cc, -1px -1px 2px #cff
}

.main-item .js {
    border: 1px solid #faa;
    background: hsla(0, 100%, 83%, .56);
    box-shadow: 1px 1px 1px #c88, -1px -1px 2px #fcc
}

.main-item .time {
    float: right;
    border: 1px solid #eee;
    box-shadow: 1px 1px 1px #bebebe, -1px -1px 2px #fff
}

footer {
    margin: 50px 0;
    font-size: 14px
}

footer, footer a {
    color: var(--color5)
}

footer a {
    animation: textShadow 5s linear infinite;
    animation-direction: alternate
}

@keyframes textShadow {
    0% {
        text-shadow: 0 0 5px red
    }
    25% {
        text-shadow: 0 0 5px#ff7f00,
    }
    50% {
        text-shadow: 0 0 5px #0f0
    }
    75% {
        text-shadow: 0 0 5px, #00f
    }
    to {
        text-shadow: 0 0 5px #8b00ff
    }
}

@media (min-width:1140px) {
    nav .control {
        display: none
    }
    .main-item:nth-child(4n-3) {
        border-radius: 15px;
        box-shadow: 3px 3px 2px #a7a7a7, -3px -3px 2px #fff
    }
    .main-item:nth-child(4n) {
        border-radius: 15px;
        box-shadow: inset 3px 3px 2px #a7a7a7, inset -3px -3px 2px #fff
    }
}

@media (max-width:1140px) {
    body {
        width: 100%
    }
    header {
        display: none
    }
    nav {
        width: 90%
    }
    nav section {
        overflow: hidden;
        margin-top: 20px;
        height: 0;
        font-size: 14px;
        transition: all .5s
    }
    main .main-item {
        display: block;
        margin: 60px auto 0;
        width: 90%
    }
    .main-item:nth-child(4n-3) {
        border-radius: 10px;
        box-shadow: 2px 2px 1px #a7a7a7, -2px -2px 1px #fff
    }
    .main-item:nth-child(4n-1) {
        border-radius: 10px;
        box-shadow: inset 2px 2px 1px #a7a7a7, inset -2px -2px 1px #fff
    }
    .main-item section {
        font-size: 14px;
    }
}