* {
    margin: 0;
    padding: 0
}

.loading {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: #eee
}

.landing-icon {
    position: relative;
    margin: 200px auto 100px;
    width: 100px;
    height: 100px
}

.landing-icon .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.landing-icon .icon-1 {
    border-radius: 100%;
    background: #f49494;
    transform: scale(25);
    animation: spin-1 3s
}

.landing-icon .icon-2 {
    border-radius: 100%;
    background: rgba(255, 255, 0, .31);
    transform: scale(0);
    animation: spin-2 3s
}

@keyframes spin-1 {
    0% {
        background: rgba(255, 0, 0, .38);
        transform: scale(.5)
    }
    33% {
        transform: scale(1.25)
    }
    66% {
        transform: scale(.5)
    }
    to {
        background: #f49494;
        transform: scale(25)
    }
}

@keyframes spin-2 {
    0% {
        transform: scale(1.25)
    }
    33% {
        transform: scale(.5)
    }
    66% {
        transform: scale(1.25)
    }
    80% {
        transform: scale(0)
    }
}

.landing-title {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 26px
}