* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 200px;
    user-select: none;
    /* background: linear-gradient(to left, #999 50%, transparent 0) 0 / 1vmin 1px repeat-x, linear-gradient(to bottom, #999 50%, transparent 0) 50% / 1px 1vmin repeat-y; */
}

header {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0;
}

input {
    padding: 0 15px;
    width: 80%;
    max-width: 500px;
    height: 40px;
    outline: 0;
    border: 1px solid #e5e5e5;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    line-height: 40px;
    border-right-width: 0;
}

input::placeholder {
    font-family: Icon;
    color: unset;
}

button {
    margin-left: 0;
    width: 20%;
    max-width: 80px;
    height: 42px;
    border: 1px solid #e5e5e5;
    border-radius: 0 10px 10px 0;
    background: 0 0;
    box-shadow: inset 0px 0px 0px rgb(0 0 0/10%);
    vertical-align: top;
    font-size: 18px;
    cursor: pointer;
    transition: all .1s;
}

button:hover {
    box-shadow: inset 0px 0px 15px rgb(0 0 0/10%);
}

button:focus-visible {
    outline: 0;
    border-color: black;
}

span.title {
    display: inline-block;
    margin: 50px auto;
    font-size: 18px;
    cursor: pointer;
    color: rgb(86, 176, 214);
}

main {
    display: flex;
    margin: auto;
    width: 80%;
    max-width: 900px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

a.item {
    margin: 20px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(0 0 0/10%);
    color: var(--color);
    background: #fff;
    vertical-align: top;
    font-size: 30px;
    font-family: Icon;
    line-height: 60px;
    cursor: pointer;
    transition: all .1s;
    text-decoration: none;
}

a.item:hover {
    box-shadow: 0 0 0 rgb(0 0 0/20%), inset 9px 9px 15px rgb(0 0 0/10%);
}

@font-face {
    font-family: Icon;
    src: url(../font/nav.woff2);
}