.main-item {
	display: inline-block;
	width: 50%;
	height: 25%;
	vertical-align: middle;
	font-size: 16px
}

.main-item p {
	text-align: left;
	padding-left: 10px;
	font-weight: 600
}

@media (min-width:767px) {
	.main-item:first-of-type, .main-item:nth-of-type(4) {
		background: #e5e5e5
	}
	.main-item p {
		margin-top: 20px
	}
}

@media (max-width:767px) {
	body {
		display: block;
		overflow: auto
	}
	h2 {
		margin-top: 50px
	}
	nav {
		display: flex
	}
	nav a {
		padding: 0;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 14px;
		flex: 1
	}
	.main-item {
		display: block;
		width: 100%;
		height: auto
	}
	.main-item p {
		background: #e5e5e5
	}
	main section {
		margin-bottom: 10px
	}
}