* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	user-select: none;
}

:root {
	--color1: #eee;
	--color2: #f49494;
	--color3: #f4ea2a;
	--coloe4: #222;
	--color5: #555
}

body {
	display: flex;
	overflow: hidden;
	width: 100vw;
	min-width: 330px;
	height: 100vh;
	background: var(--color1);
	flex-direction: column;
	justify-content: center;
	align-items: center
}

header,main,nav,section {
	margin: 0 auto;
	width: 80%;
	text-align: left
}

h2 {
	display: inline-table;
	vertical-align: middle
}

a,h2 {
	margin: 10px 0;
	cursor: pointer;
	color: var(--coloe4);
	animation: ColorChange .5s
}

@keyframes ColorChange {
	0% {
		color: var(--color2)
	}

	to {
		color: var(--coloe4)
	}
}

a:hover,h2:hover {
	animation: BackColorChange .5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards
}

@keyframes BackColorChange {
	0% {
		color: var(--coloe4)
	}

	to {
		color: var(--color2)
	}
}

hr {
	margin: 5px 10%;
	width: 80%;
	height: 2px;
	border: 0;
	background: var(--color5)
}

nav a {
	padding: 0 10px;
	color: var(--coloe4);
	font-weight: 600
}

main {
	margin-top: 20px;
	height: 600px;
	font-size: 0
}

