* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .2s;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    list-style: none;
    /* border: 1px var(--c5tc) dashed; */
}

:root {
    --bg: #f3f6fd;
    --pbg: #fff;
    --hover: #c3cff4;
    --tc: #201d2f;
    --mtc: #4a4a4a;
    --c1: #fee4cb;
    --c1tc: #ff942e;
    --c2: #e9e7fd;
    --c2tc: #4f3ff0;
    --c3: #dbf6fd;
    --c3tc: #096c86;
    --c4: #ffd3e2;
    --c4tc: #df3670;
    --c5: #c8f7dc;
    --c5tc: #34c471;
    --mask: hsla(0, 0%, 100%, 0.6)
}

.dark:root {
    --bg: #111827;
    --pbg: #353c50;
    --hover: #c3cff4;
    --tc: #fff;
    --mtc: #d1d3d6
}

.flex-col, .flex-row {
    display: flex
}

.flex-col {
    flex-direction: column
}

body::-webkit-scrollbar {
    display: none
}

body {
    margin: auto;
    padding: 20px 22.5px;
    padding-top: 10vh;
    width: 100vw;
    height: 100vh;
    max-width: 1500px;
    background: var(--bg)
}

main {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 645px;
    margin: auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.left, .right {
    flex: 1;
    height: 100%;
    border: solid white;
    border-width: 2vh 15px;
    transition: border 0s;
    background: white;
    border-radius: 30px;
    /* box-shadow: 10px 10px 10px #e6e6e6, -10px -10px 10px #ffffff; */
}

.center {
    flex: 100px;
    max-width: 50px;
    height: 50px;
    transform: scale(2);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: linear-gradient(145deg, #c7d2f5, #beccf3);
    box-shadow: inset 1px 1px 1px #98adec, inset -3px -3px 5px #d8e0f8;
}

.center .svg {
    width: 25px;
    height: 25px;
    background-image: url(../image/translation.svg);
    background-size: cover;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}

main h3 {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 15px;
}

main button {
    float: right;
    width: 66px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: white;
    box-shadow: 3px 3px 5px #d1d1d1, inset 1px 1px 1px #efefef;
}

main textarea {
    width: 100%;
    height: calc(100% - 43px);
    resize: none;
    outline: none;
    font-size: 20px;
    border: solid 10px white;
    transition: border 0s;
}

textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 5px;
    background-color: var(--c5tc)
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: var(--c1tc);
}